/* FR TABLET */
@media screen and (max-width:1200px) {
    .logo {
        width: 8em;
    }
    .header div h1 {
        font-size: 1.5em;
    }
    .bloque__main {
        padding-top: 11rem;
       }
    .main {
        background-size: 30rem;
    }
    .main__index h6 {
        font-size: 1.4rem;
        width: 100%;
        line-height: 5rem;
    }
    .main__about {
        font-size: 2rem;
        line-height: 5rem;
    }
    .main__form {
        margin-right: 10rem;
    }
}
/* FR TABLET */

/* FR MOBILE */
@media screen and (max-width:769px) {
    .logo {
        width: 6em;
    }
    .header div h1 {
        font-size: 1.1rem;
    }
    .bloque__main {
        padding-top: 9.5rem;
       }
    .main {
        background-size: 17rem;
    }
    .main__index h6 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 3rem;
        font-weight: bold;
    }
    .main__about {
        font-size: 1rem;
        line-height: 3rem;
    }
    .main__form {
        margin-right: 0rem;
    }
    .footer__p {
        font-size: 0.7rem;
        padding-left: 2rem;
    }
    .footer h2 {
        font-size: 1.4rem;
    }
    .footer__ul {
        font-size: 0.7rem;
        line-height: 1.8rem;
        width: auto;
        transform: translateX(-1rem);
    }
    .footer__redesLogo img {
        width: 2rem;
    }
}
/* FR MOBILE */