@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&display=swap');

/* RESETEO */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', sans-serif;
    box-sizing: border-box;
}
/* RESETEO */