@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&display=swap');

/* RESETEO */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', sans-serif;
    box-sizing: border-box;
}

/* RESETEO */

/* .grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "aside main main " 
    "footer footer footer"
    ;
    grid-template-rows: 1.2fr 4.8fr 1fr;
    grid-template-columns: 1fr 2fr 2fr;
    overflow: auto;
    height: 100vh;
} */

.btm {
    background-image: linear-gradient(#c5d6c3, #f4ffee);
    border-radius: 10px;
}
.bor {
    border: 2px solid red;
}


/* STYLES HEADER  */
.header {
    background-color: #f4ffee;
}
.header div h1 {
    font-size: 2em;
}
.logo {
    width: 10rem;
}
.ul li:hover {
    background-color: #c5d6c3;
    border-radius: 3px;
}
ul {
    list-style: none;
    font-size: 0.8rem;
}
ul li {
    width: 8rem;
    text-align: center;
}

/* STYLES HEADER  */


/* STYLES MAIN  */
.aside {
    /* grid-area: aside; */
    background-image: url(https://img.freepik.com/free-photo/top-half-view-delicious-chicken-skewers-wooden-board-other-stuffs-table_140725-148773.jpg?w=740);
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.main {
    background-image: url(../img/piramide.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-y: center;
    /* width: 100%; */
    /* grid-area: main; */
}
.main div {
    background-color: rgba(255, 255, 255, 0.5);
}
.main__index h6 {
    font-size: 2.3em;
    font-weight: 100;
    line-height: 6rem;
    text-align: end;
    margin-right: 15rem;
    /* font-family: Cinzel; */
}

.main__about {
    /* text-align: center; */
    /* line-height: 6rem; */
    /* z-index: 1; */
    /* padding-right: 5rem; */
    /* padding-left: 5rem; */
    /* font-size: 2rem; */
}

/* STYLES MAIN  */


/* STYLES FOOTER */
.footer {
    background-color: #fbe5cc;
    /* grid-area: footer; */
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.footer__ul {
    line-height: 3rem;
    width: 100%;
}
.footer__ul li a{
    text-decoration: none;
    color: #111111;
    /* line-height: 3.6rem; */
    /* padding-left: 1rem; */
}

.footer__redesLogo {
    /* padding-top: 5px; */
    transform: translateX(2rem);
    animation-name: logoRedes;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

.footer__redesLogo img {
    width: 50px;
}

@keyframes logoRedes {
    50% {
        transform: translate(2rem,-160px);
    }

    55% {
        transform: translate(2rem,-160px);
    }

    75% {
        transform: translate(2rem,0px);
    }

    85% {
        transform: translate(2rem,-10px);
    }

    90% {
        transform: translate(2rem,0px);
    }

    95% {
        transform: translate(2rem,-10px);
    }

    100% {
        transform: translate(2rem,0px);
    }
}

/* STYLES FOOTER */

/* FR TABLET */
@media screen and (max-width:1200px) {
    .logo {
        width: 8em;
    }
    .header div h1 {
        font-size: 1.5em;
    }
    .main__index h6 {
        font-size: 1.4rem;
        /* font-weight: 100; */
        /* line-height: 6rem; */
        /* text-align: end; */
        /* margin-right: 15rem; */
        /* font-family: Cinzel; */
    }
}
/* FR TABLET */

/* FR MOBILE */
@media screen and (max-width:769px) {
    .logo {
        width: 6em;
    }
    .header div h1 {
        font-size: 1em;
    }
    .main__index h6 {
        font-size: 1em;
        /* font-weight: 100; */
        /* line-height: 6rem; */
        /* text-align: end; */
        /* margin-right: 15rem; */
        /* font-family: Cinzel; */
    }
}
/* FR MOBILE */

