@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&display=swap');

/* RESETEO */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel', sans-serif;
    box-sizing: border-box;
}
/* RESETEO */


.btm {
    background-image: linear-gradient(#c5d6c3, #f4ffee);
    border-radius: 10px;
}
.bor {
    border: 2px solid red;
}

/* STYLES HEADER  */
.header {
    background-color: #f4ffee;
    position: fixed;
    width: 100%;
}
.header div h1 {
    font-size: 2.3rem;
    font-weight: 500;
}
.logo {
    width: 10rem;
}
.ul li:hover {
    background-color: #c5d6c3;
    border-radius: 3px;
}
ul {
    list-style: none;
    font-size: 0.8rem;
}
ul li {
    width: 8rem;
    text-align: center;
}
/* STYLES HEADER  */


/* STYLES MAIN  */
.bloque__main {
 padding-top: 10rem;
}
.aside {
    background-image: url(https://img.freepik.com/free-photo/top-half-view-delicious-chicken-skewers-wooden-board-other-stuffs-table_140725-148773.jpg?w=740);
    background-attachment: fixed;
    background-repeat: repeat-y;
}
.main {
    background-image: url(../img/piramide.png);
    background-size: 40rem;
    background-repeat: no-repeat;
    background-position-y: center;
}
.main__div {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
}
.main__index h6 {
    font-size: 2.3em;
    font-weight: 100;
    line-height: 7rem;
    text-align: end;
    margin-right: 15rem;
}
.main__about {
    text-align: center;
    font-size: 1.8rem;
    line-height: 8rem;
    padding: 4rem;
}

/* STYLES MAIN  */


/* STYLES FOOTER */
.footer {
    background-color: #fbe5cc;
}
.footer__p {
    padding-left: 5rem;
}
.footer h2 {
    font-size: 2rem;
}
.footer__ul {
    line-height: 3rem;
    width: 100%;
}
.footer__ul li a{
    text-decoration: none;
    color: #111111;
}
.footer__redesLogo {
    transform: translateX(2rem);
    animation-name: logoRedes;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}
.footer__redesLogo img {
    width: 50px;
}

@keyframes logoRedes {
    50% {
        transform: translate(2rem,-160px);
    }

    55% {
        transform: translate(2rem,-160px);
    }

    75% {
        transform: translate(2rem,0px);
    }

    85% {
        transform: translate(2rem,-10px);
    }

    90% {
        transform: translate(2rem,0px);
    }

    95% {
        transform: translate(2rem,-10px);
    }

    100% {
        transform: translate(2rem,0px);
    }
}
/* STYLES FOOTER */

/* FR TABLET */
@media screen and (max-width:1200px) {
    .logo {
        width: 8em;
    }
    .header div h1 {
        font-size: 1.5em;
    }
    .bloque__main {
        padding-top: 11rem;
       }
    .main {
        background-size: 30rem;
    }
    .main__index h6 {
        font-size: 1.4rem;
        width: 100%;
        line-height: 5rem;
    }
    .main__about {
        font-size: 2rem;
        line-height: 5rem;
    }
}
/* FR TABLET */

/* FR MOBILE */
@media screen and (max-width:769px) {
    .logo {
        width: 6em;
    }
    .header div h1 {
        font-size: 1.1rem;
    }
    .bloque__main {
        padding-top: 9.5rem;
       }
    .main {
        background-size: 17rem;
    }
    .main__index h6 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 3rem;
        font-weight: bold;
    }
    .main__about {
        font-size: 1rem;
        line-height: 3rem;
    }
    .footer__p {
        font-size: 0.7rem;
        padding-left: 2rem;
    }
    .footer h2 {
        font-size: 1.4rem;
    }
    .footer__ul {
        font-size: 0.7rem;
        line-height: 1.8rem;
        width: auto;
        transform: translateX(-1rem);
    }
    .footer__redesLogo img {
        width: 2rem;
    }
}
/* FR MOBILE */

